In [1]:
year  = 2025
year  = year + 3
print(year)

2028

In [2]:
bank_interest = 7.5
loan_interest = 9.0
print(type(bank_interest))
print(type(loan_interest))

<class 'float'>
<class 'float'>

In [3]:
c = 3+8j
print(c)
print(type(c))

(3+8j)
<class 'complex'>

In [5]:
month = "November"
day = "monday"
print(month,day)
print(len(month))

November monday
8

In [7]:
lang = "Malayalam"
print(lang[0])
print(lang[-5])

M
y

In [9]:
#list is the collection of elements grouped together
digits = [0,1,2,3,4,5,6,7,8]
vowels = ['a','e','i','0','u']
grocery = ['apple',5,'banana']
print(grocery)
print(type(grocery))

['apple', 5, 'banana']
<class 'list'>

In [11]:
#tuple  immutable
#can't change
my_tuple = (1,3,4)
print(my_tuple)
print(my_tuple[1])

(1, 3, 4)
3

In [18]:
# range
print(range(10))
print(list(range(10)))
print(tuple(range(10)))
print(str(range(10)))

print(list(range(2,10,2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
range(0, 10)
[2, 4, 6, 8]

In [25]:
#dictionary   key value pairs
# unordered mutable collection 
data = {
    "institute" : "ICT",
    "city" : "TVM"
}
print(data)
print(type(data))
print(data["institute"])
data["state"] = "kerala"
print(data)
print(list(data.keys()))
print(data.values())

{'institute': 'ICT', 'city': 'TVM'}
<class 'dict'>
ICT
{'institute': 'ICT', 'city': 'TVM', 'state': 'kerala'}
['institute', 'city', 'state']
dict_values(['ICT', 'TVM', 'kerala'])

In [28]:
#set  is an unordered collection of unique elements
my_set = {1,4,1,5,4}
print(my_set)

#set function
empty_set  = set()
print(list(empty_set))

{1, 4, 5}
[]

In [30]:
# boolean data type
is_sunny = True
print(is_sunny)
print(5>10)
print(type(is_sunny))

True
False
<class 'bool'>

In [31]:
#none type
status = None
print(status)

None

In [ ]:
#operators in python
# addidtion +
# -
# *
# /
# // floor division
# %

In [ ]:
# comparison operators
# == != > < >= <=  

# logical operators
# and or not

In [ ]:
# membership operator
# in   not in 

# is   is not     to check if they share the same memory space

In [33]:
def checkodd(x):
    if(x%2!=0 and x%9 == 0):
        return True
    else:
        return False
    
print(checkodd(9))
print(checkodd(7))

True
False

In [35]:
a = "salahudheen"
print((len(a) > 10))
print(True if(len(a)>10) else False)

True
True

In [39]:
x = "malayalama"
print((x == x[::-1]))

False

In [41]:
a = 3
b = 5
print(a,b,sep = ":",end = "$")

3:5$

In [2]:
x = input("enter thenumber")

In [ ]:
def calculator(x,y):
    print(x+y)
    print(x-y)
    print(x*y)
    print(x/y)
x = int(input("first"))
y = int(input("2nd"))
calculator(x,y)

15
5
50
2.0

In [7]:
print("welcome {}, to AI ML class".format("guest"))

welcome guest, to AI ML class

In [9]:
message = "welcome to AI ML class"
print(message.split(" "))

['welcome', 'to', 'AI', 'ML', 'class']

In [11]:
data = ["2","june","2025"]
print("_".join(data))

2_june_2025

In [12]:
weeks = ["monday","tuesday"]
sorted(weeks,reverse = True)
print(weeks)

['monday', 'tuesday']

In [21]:
timestamp =     "as assdf d df"
a = timestamp.split(" ")
for item in a:
    print(item)

as
assdf
d
df

In [26]:
# input  : 7458
# out : in words
words = {
    "1" : "one",
    "2" : "two",
    "3" : "three",
    "4" : "four"
}
a = 1234
a = str(a)
for i in a:
    print(words[i],end  = " ")

one two three four

In [29]:
#map function

a = ["1","2"]
print(list(map(float,a)))

[1.0, 2.0]

In [30]:
#list comprehention

a = [1,2,3]
b = [x**2 for x in a]
print(b)

[1, 4, 9]

In [36]:
a = "ab@ict.org"
A = a.find("@")
B = a.find(".")
print(a[A+1:B])

b = a.split('@')[1].split(".")[0]
print(b)

ict
ict

In [1]:
# control floww

if True:
    print("hello")

hello