In [2]:
import pandas as pd
data = pd.DataFrame({'Age': [12,20,37,45,55,61,80]})
data['AgeGroup'] = pd.cut(data['Age'],bins = [0,18,40,60,100],labels = ['child','adult','middle','senior'])
data

   Age AgeGroup
0   12    child
1   20    adult
2   37    adult
3   45   middle
4   55   middle
5   61   senior
6   80   senior