In [20]:
import pandas as pd
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score,precision_score,accuracy_score,recall_score

In [21]:
data = pd.read_csv("churn_data.csv")
data.head()

,satisfaction,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,department,salary
0,0.38,530.0,two,157.0,3+,no,yes,no,sales,low
1,0.80,860.0,five,262.0,6+,no,yes,no,sales,medium
2,0.11,880.0,seven,272.0,4+,no,yes,no,sales,medium
3,0.72,870.0,five,223.0,5+,no,yes,no,sales,low
4,0.37,520.0,two,159.0,3+,no,yes,no,sales,low

In [22]:
y = data['churn']
y.isna().sum()

num_df = data.select_dtypes(include='number')
cat_df = data.select_dtypes(include = 'object')
num_df.isna().sum()
cat_df.isna().sum()

number_of_projects    44
time_spend_company     0
work_accident          0
churn                  0
promotion              0
department            41
salary                 0
dtype: int64

In [23]:
num_cols = num_df.columns.to_list()
num_cols

for  col in num_cols:
    num_df[col] = num_df[col].fillna(num_df[col].median())

In [24]:
num_df.isna().sum()

cat_cols = cat_df.columns.to_list()
for col in cat_cols:
    cat_df[col] = cat_df[col].fillna(cat_df[col].mode())


cat_df.isna().sum()

number_of_projects    44
time_spend_company     0
work_accident          0
churn                  0
promotion              0
department            41
salary                 0
dtype: int64

In [29]:
X_train,X_test,y_train,y_test = train_test_split(num_df,y,test_size=0.25,random_state=42)
lg = LogisticRegression()
lg.fit(X_train,y_train)
y_pred1 = lg.predict(X_test)
y_pred1
accuray1 = accuracy_score(y_test,y_pred1)
precision1 = precision_score(y_test,y_pred1,pos_label='yes')
recall1 = recall_score(y_test,y_pred1,pos_label='yes')
f1_score1 = f1_score(y_test,y_pred1,pos_label='yes')

In [30]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train,y_train)
y_pred2= knn.predict(X_test)
y_pred2
accuray2 = accuracy_score(y_test,y_pred2)
precision2 = precision_score(y_test,y_pred2,pos_label='yes')
recall2 = recall_score(y_test,y_pred2,pos_label='yes')
f1_score2 = f1_score(y_test,y_pred2,pos_label='yes')

In [31]:
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred3= dt.predict(X_test)
y_pred3
accuray3 = accuracy_score(y_test,y_pred3)
precision3 = precision_score(y_test,y_pred3,pos_label='yes')
recall3 = recall_score(y_test,y_pred3,pos_label='yes')
f1_score3 = f1_score(y_test,y_pred3,pos_label='yes')

In [32]:
rf = RandomForestClassifier(n_estimators=100,random_state=42)
rf.fit(X_train,y_train)
y_pred4= dt.predict(X_test)
y_pred4
accuray4 = accuracy_score(y_test,y_pred4)
precision4 = precision_score(y_test,y_pred4,pos_label='yes')
recall4 = recall_score(y_test,y_pred4,pos_label='yes')
f1_score4 = f1_score(y_test,y_pred4,pos_label='yes')

In [38]:
result_df = pd.DataFrame(columns=['model','accuracy','precision','recall','f1 score'])
result_df.loc[len(result_df)] = ['logistic regression',accuray1,precision1,recall1,f1_score1]
result_df.loc[len(result_df)] = ['KNN',accuray2,precision2,recall2,f1_score2]
result_df.loc[len(result_df)] = ['Decision tree',accuray3,precision3,recall3,f1_score3]
result_df.loc[len(result_df)] = ['Random forest',accuray4,precision4,recall4,f1_score4]
result_df

                 model  accuracy  precision    recall  f1 score
0  logistic regression  0.758133   0.488889  0.245262  0.326652
1                  KNN  0.889067   0.749740  0.804905  0.776344
2        Decision tree  0.952267   0.886853  0.917503  0.901918
3        Random forest  0.952267   0.886853  0.917503  0.901918